# Java class files.
*.class

# Java package files.
*.jar
*.war
*.ear

# Gradle directories.
.gradle/
build/

# Eclipse directories and files.
.project
.classpath
.settings
bin/

# Vim swap files.
*.swp

